<div class="form-group">
  <label for="title">Title</label>

  <input required type="text" name="title" id="title" class="form-control" />
</div>
<div class="form-group">
  <label for="title">Description</label>
  <textarea name="description" id="description" class="form-control">
input description</textarea
  >
</div>
<div class="form-group">
  <label for="title">markDown</label>
  <textarea
    style="height: 200px; width: 100%"
    name="description"
    id="description"
    class="form-control"
  >
input markDown for the content</textarea
  >
</div>
<a href="/" class="btn btn-secondary"> cancle</a>
<button type="submit" class="btn btn-primary">Save</button>
